@import url('https://fonts.cdnfonts.com/css/raleway-5');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(C:\Users\vicky\OneDrive\Escritorio\Portfolio\client\src\assets\bgImage.jpg);
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}
